/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffcaca;
  color: #333;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
}

header {
  background: #4a0e0e;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 10px;
}

nav a {
  color: #00b3ff;
  text-decoration: none;
  margin: 0 15px;
}

section {
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}

.project {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #007BFF;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.skills-list li {
  background: #007BFF;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background: #ff0000;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  background: #500e0e;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 5px 0;
  }
}
